*
{
    margin: 0;
    padding: 0;
    position: relative;
    background-color: #f1f1f1;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 7%;
    width: 100%;
    position: fixed;
    z-index: 99;
    padding: 0px 30px;
}
nav ul {
    display: flex;
}
nav ul li a{
    padding: 0 30px;
    right: 5%;
    font-size: 20px;
    font-family: Gilroy-light;
    color: #000;
    text-decoration: none;
    list-style-type: none;
    transition: 0.3s;

}
nav ul li a:hover{
    color: #079fdb;
}
.pricing .normal{
    height: 100vh;
    width: auto;

}
/*social media account*/
.social{
  display: flex;
  position: absolute;
}

.light-button{
  padding: 20px;
}
.light-button button.bt {
    position: relative;
    height: 200px;
    display: flex;
    align-items: flex-end;
    outline: none;
    background: none;
    border: none;
  }
  
  .light-button button.bt .button-holder {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100px;
    width: 100px;
    background-color: #0a0a0a;
    border-radius: 5px;
    color: #0f0f0f;
    font-weight: 700;
    transition: 300ms;
    outline: #0f0f0f 2px solid;
    outline-offset: 20;
  }
  
  .light-button button.bt .button-holder svg {
    height: 50px;
    fill: #0f0f0f;
    transition: 300ms;
    background-color: #000;
  }
  
  .light-button button.bt .light-holder {
    position: absolute;
    height: 200px;
    width: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .light-button button.bt .light-holder .dot {
    position: absolute;
    top: 0;
    width: 10px;
    height: 10px;
    background-color: #0a0a0a;
    border-radius: 10px;
    z-index: 1000;
  }
  
  .light-button button.bt .light-holder .light {
    position: absolute;
    top: 0;
    width: 200px;
    height: 200px;
    clip-path: polygon(50% 0%, 25% 100%, 75% 100%);
    background: transparent;
  }
  
  .light-button button.bt:hover .button-holder svg {
    fill: rgba(88, 101, 242, 1);
  }
  
  .light-button button.bt:hover .button-holder {
    color: rgba(88, 101, 242, 1);
    outline: rgba(88, 101, 242, 1) 2px solid;
    outline-offset: 2px;
  }
  
  .light-button button.bt:hover .light-holder .light {
    background: rgb(255, 255, 255);
    background: linear-gradient(180deg, rgba(88, 101, 242, 1) 0%, rgba(255, 255, 255, 0) 75%, rgba(255, 255, 255, 0) 100%);
  }
  .button-holder p{
    opacity: 0.3;
    background-color: black;
  }
  .light-button:hover .button-holder p{
    opacity: 1;
    background-color: none;
  }
  .social:nth-child(3){
    color: #fff;
    background-color: #fff;
  }
/*social finish here*/