
#about{
    background-color: #fff;
    display: block;
  }
  .about h1{
    color: #272727;
    font: 700 gilroy;
    text-align: center;
    font-size: 43px;
    top: 20px;
  
  }
.about1, .about2 .about3, .about4, .about5, .about6{
    display: flex;
    height: 300px;
      /*about page image*/
    }
  .about1 img{
    height: 300px;
    width: auto;
    margin-left: 100px;
  }
  .about2 img{
    height: 300px;
    width: auto;
    margin-right: 100px;
    float: right;
  }
  .about3 img{
    height: 400px;
    width: auto;
    top: 300px;
    margin-left: 200px;
  }

  .about4 img{
    height: 500px;
    width: auto;
    float: right;
    margin-right: 100px;
  }
  .about5 img{
    height: 300px;
    width: auto;
    margin-left: 200px;
  }
  .about6 img{
    height: 300px;
    width: auto;
    margin-right: 100px;
    float: right;
  }
            /*about page text*/
  .about1 span{
    width: 570px;
    height: auto;
    font-size: 20px;
    margin-left: 200px;
    text-align: justify;
    margin-right: 10px;
  }
  .about2 span{
    width: 570px;
    height: auto;
    font-size: 20px;
    left: 100px;
    text-align: justify;
  }

  .about4 span{
    width: 570px;
    height: 500px;
    font-size: 20px;
    left: 100px;
    text-align: justify;
  }
  .about5 span{
    width: 570px;
    height: auto;
    font-size: 20px;
    top: 70px;
    margin-left: 200px;
    text-align: justify;
    margin-right: 10px;
  }
  .about6 span{
    width: 570px;
    height: auto;
    font-size: 20px;
    top: 70px;
    left: 100px;
    text-align: justify;
  }